  /* Body */
  body {
    font-family: "Lato", sans-serif;
  }
  .card-header {
    font-family: "Staatliches", cursive;
    font-size: 20pt;
  }
  
  /* Jumbotron */
.jumbotron {
  background-color: rgb(17, 17, 85);
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  #jumboTitle {
    font-family: "Staatliches", cursive;
    margin-top: -50px;
    margin-bottom: -10px;
  }
  #jumboSubtitle {
    font-family: "Catamaran", sans-serif;
    margin-bottom: -30px;
  }
  
  /* Add Data Buttons */
  #buttonRow {
    margin-bottom: 10px;
  }
  #addCar, #addCar:hover, #addCustomer, #addCustomer:hover {
    margin-bottom: 20px;
    background-color: #075D6E;
    color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  #submitCustomer {
    background-color: 075D6E;
    color: white;
  }
  
/* Database Search Card */
.card {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
  #searchBody {
    display: inline-flex;
  }
  .fa-search {
    margin-top: 8px;
    margin-right: 20px;
    font-size: 18pt;
  }
  .card-header {
    background-color: rgb(17, 17, 85);
    color: white;
  }
  
  /* Modal Styling */
  #carModal, #soldModal, #customerModal, #confirmModal {
    background-color: rgba(0, 0, 0, 0.7); 
  }

 .modal-header {
    color: white;
    background-color: #075D6E;
  }

  input{
    box-shadow:inset 0 0 1px 1px #888;
    background: #fff;
  }

  #confirm-body {
    font-size: 15pt;
  }

  /* Table */
  td {
    font-family:"Lato", sans-serif;
  }
  .deleteButton{
    padding: 5px 10px 5px 10px;
    background-color: #9C0C19;
    border-color: #9C0C19;
    
  }
  .soldButton {
    padding: 5px 12px 5px 12px;
    background-color: #067329;
    border-color: #067329;
  }

  .soldButton:hover {
    background-color: rgb(2, 190, 21);
    border-color:rgb(2, 190, 21);
  }

  .editButton {
    background-color: #EB9B09;
    border-color: #EB9B09;
  }

  .editButton:hover { 
    background-color: #FFC900;
    border-color: #FFC900;
  }

  .custom-radio {
    font-size: 1.5em;
    padding-right: 2em;
    padding-bottom: 5px;
  }
